---
import { Image } from "astro:assets";
import Card from "../ui/Card.astro";
import Section from "./Section.astro";
import propImg from "../../assets/pics/proposal-pic.svg";

---

<Section>
  <Card>
    <div
      class="flex bg-[#F3F3F3] rounded-[45px] p-[60px] relative mt-[123px] mb-[153px]"
    >
      <div
        class="hidden md:flex p-[40px] pl-0 absolute left-[-30%] lg:left-0 top-[-25%] h-[450px] items-center"
      >
        <Image
          src={propImg}
          alt="This is an illustration"
          class="hidden md:flex lg:h-full lg:w-auto"
        />
      </div>
      <div class="w-full md:w-[40%] flex flex-col gap-[26px] ml-auto">
        <h2 class="text-3xl font-medium">Still Using Decade-Old Software? <br> Think long term with Business Softwares.</h2>
        <p>
          Your business is unique, and so are your software needs. Using outdated software can cost you more than you think. Get a free proposal to see how we can help you.
        </p>
        <button class="btn-primary">Get your free proposal</button>
      </div>
    </div>
</Section>
