---
import { Image } from "astro:assets";
import s1 from "../../assets/company/Mentors-Logo.png";
import s2 from "../../assets/company/spdl.png";
import s3 from "../../assets/company/rp-logo.png";
import s4 from "../../assets/company/Wener.png";
import Section from "./Section.astro";

const sponsors = [
  { logo: s4, alt: "Wener logo", link: "https://wenerbd.com" },
  { logo: s3, alt: "Reminiscence Photography logo", link: "https://reminiscencebd.com/" },
  { logo: s1, alt: "Mentors logo", link: "https://mentors.com.bd" },
  { logo: s2, alt: "Sarker Properties and Development logo", link: "https://sarkerpropertiesltd.com/" },
];
---

<Section id="sponsors">
  <h1 class="text-4xl font-medium text-center gap-6">Trusted by your favourite brands</h1>
  <div class="flex-row items-justify-center pt-10">
  <div class="grid grid-cols-3 sm:grid-cols-3 md:grid-cols-4">
    {
      sponsors.map((sponsor) => {
        return (
          <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
            <a href={sponsor.link ? sponsor.link : "#"} target="_blank" rel="noopener noreferrer">
              <Image src={sponsor.logo} class="h-14 w-auto mx-auto" alt={sponsor.alt} loading="lazy" />
            </a>
          </div>
        );
      })
    }
  </div>
  </div> 
</Section>