---
import SectionTitle from "../ui/SectionTitle.astro";
import SwiperSlider from "../ui/SwiperSlider.astro";
import Section from "./Section.astro";
---

<Section id="testimonials">
  <div>
    <SectionTitle
      sectionTitle="Testimonials"
      description="Hear from Our Satisfied Clients"
    />
    <div class="rounded-[45px] bg-dark mb-[50px] text-gray">
      <SwiperSlider />
    </div>
  </div>
</Section>
